#product-list {
  padding: 0;
  margin: 0;

  * {
    max-height: 150px;
  }

  > *:nth-child(even) {
    background: #AAA
  }

  > *:nth-child(odd) {
    background: #777
  }

  li {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;

    .product-image {
      grid-column: 1;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      min-height: 150px;
    }

    .product-details {
      grid-column: 2;
      text-align: left;
      position: relative;

      .product-price {
        font-size: 125%;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    button {
      grid-column: 3;
      border-radius: 15px;
      font-size: 1em;
      width: 50%;
      height: 50%;
      margin: auto;
    }
  }
}