@import "../global-styles/_colors";

#addition {
  background: $black;
  position: relative;
  width: auto;

  ul {
    border: 3px solid $white;
    position: sticky;
    top: 0;
    width: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;

    > *:nth-child(even) {
      background: $light-gray
    }

    > *:nth-child(odd) {
      background: $dark-grey
    }

    li {
      text-align: right;
      padding-left: 2vw;
      padding-right: 1vw;
    }
  }

}