@import "../global-styles/_colors";

#addition {


  ul {
    position: sticky;
    list-style-type: none;

    > *:nth-child(even) {
      background: $light-gray
    }

    > *:nth-child(odd) {
      background: $dark-grey
    }

    li {
      text-align: right;
      padding-right: 10px;
    }
  }

}